.qun-l-ti-khon-nhn {
    background-color: #ecf5ee5e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .qun-l-ti-khon-nhn .div {
    background-color: #ecf5ee5e;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .qun-l-ti-khon-nhn .group {
    position: absolute;
    width: 345px;
    height: 70px;
    top: 155px;
    left: 1081px;
  }
  
  .qun-l-ti-khon-nhn .overlap-group {
    position: relative;
    width: 343px;
    height: 70px;
    background-color: #497861;
    border-radius: 80px;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper {
    position: absolute;
    top: 13px;
    left: 42px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-ti-khon-nhn .overlap-wrapper {
    position: absolute;
    width: 222px;
    height: 78px;
    top: 924px;
    left: 653px;
  }
  
  .qun-l-ti-khon-nhn .overlap {
    position: relative;
    width: 220px;
    height: 78px;
    background-color: #497861;
    border-radius: 100px;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-2 {
    position: absolute;
    top: 27px;
    left: 75px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .qun-l-ti-khon-nhn .overlap-2 {
    position: absolute;
    width: 570px;
    height: 96px;
    top: 142px;
    left: 440px;
  }
  
  .qun-l-ti-khon-nhn .div-wrapper {
    position: absolute;
    width: 570px;
    height: 96px;
    top: 0;
    left: 0;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-3 {
    position: absolute;
    width: 568px;
    top: 0;
    left: 0;
    font-family: "Lalezar-Regular", Helvetica;
    font-weight: 400;
    color: #144d24;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-ti-khon-nhn .line {
    width: 169px;
    top: 82px;
    left: 204px;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .qun-l-ti-khon-nhn .overlap-3 {
    position: absolute;
    width: 1354px;
    height: 641px;
    top: 271px;
    left: 55px;
    border-radius: 50px;
  }
  
  .qun-l-ti-khon-nhn .rectangle {
    position: absolute;
    width: 84px;
    height: 42px;
    top: 389px;
    left: 1091px;
    background-color: #d9d9d9;
    border-radius: 50px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-4 {
    position: absolute;
    top: 42px;
    left: 1104px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-5 {
    position: absolute;
    top: 44px;
    left: 48px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-6 {
    position: absolute;
    top: 44px;
    left: 608px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-ti-khon-nhn .group-2 {
    position: absolute;
    width: 1354px;
    height: 641px;
    top: 0;
    left: 0;
    border-radius: 50px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .rectangle-2 {
    position: absolute;
    width: 84px;
    height: 42px;
    top: 313px;
    left: 1091px;
    background-color: #d9d9d9;
    border-radius: 50px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .ellipse {
    top: 313px;
    left: 1091px;
    background-color: #73a5ee;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .ellipse-2 {
    top: 389px;
    left: 1133px;
    background-color: #ffffff;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .img {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 310px;
    left: 38px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-3 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 386px;
    left: 38px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-4 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 386px;
    left: 588px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-5 {
    position: absolute;
    width: 84px;
    height: 42px;
    top: 85px;
    left: 1091px;
    background-color: #d9d9d9;
    border-radius: 50px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .rectangle-6 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 82px;
    left: 38px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-7 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 82px;
    left: 588px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-8 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 310px;
    left: 588px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-9 {
    position: absolute;
    width: 84px;
    height: 42px;
    top: 541px;
    left: 1091px;
    background-color: #d9d9d9;
    border-radius: 50px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .rectangle-10 {
    position: absolute;
    width: 84px;
    height: 42px;
    top: 465px;
    left: 1091px;
    background-color: #d9d9d9;
    border-radius: 50px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .ellipse-3 {
    top: 465px;
    left: 1091px;
    background-color: #73a5ee;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .ellipse-4 {
    top: 541px;
    left: 1133px;
    background-color: #ffffff;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .rectangle-11 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 462px;
    left: 38px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-12 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 538px;
    left: 38px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-13 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 538px;
    left: 588px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-14 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 462px;
    left: 588px;
  }
  
  .qun-l-ti-khon-nhn .ellipse-5 {
    top: 85px;
    left: 1091px;
    background-color: #73a5ee;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .rectangle-15 {
    position: absolute;
    width: 84px;
    height: 42px;
    top: 161px;
    left: 1091px;
    background-color: #d9d9d9;
    border-radius: 50px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .rectangle-16 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 158px;
    left: 38px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-17 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 158px;
    left: 588px;
  }
  
  .qun-l-ti-khon-nhn .ellipse-6 {
    top: 161px;
    left: 1091px;
    background-color: #73a5ee;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .rectangle-18 {
    position: absolute;
    width: 84px;
    height: 42px;
    top: 237px;
    left: 1091px;
    background-color: #d9d9d9;
    border-radius: 50px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .rectangle-19 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 234px;
    left: 38px;
  }
  
  .qun-l-ti-khon-nhn .rectangle-20 {
    position: absolute;
    width: 247px;
    height: 49px;
    top: 234px;
    left: 588px;
  }
  
  .qun-l-ti-khon-nhn .ellipse-7 {
    top: 237px;
    left: 1091px;
    background-color: #73a5ee;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .qun-l-ti-khon-nhn .rectangle-21 {
    position: absolute;
    width: 32px;
    height: 423px;
    top: 115px;
    left: 1303px;
  }
  
  .qun-l-ti-khon-nhn .polygon {
    position: absolute;
    width: 37px;
    height: 23px;
    top: 44px;
    left: 1301px;
  }
  
  .qun-l-ti-khon-nhn .polygon-2 {
    position: absolute;
    width: 40px;
    height: 25px;
    top: 577px;
    left: 1298px;
  }
  
  .qun-l-ti-khon-nhn .group-3 {
    position: absolute;
    width: 1464px;
    height: 146px;
    top: -4px;
    left: 0;
  }
  
  .qun-l-ti-khon-nhn .overlap-4 {
    position: absolute;
    width: 1440px;
    height: 44px;
    top: 0;
    left: 0;
  }
  
  .qun-l-ti-khon-nhn .line-2 {
    width: 1439px;
    top: 40px;
    left: 0;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .qun-l-ti-khon-nhn .rectangle-22 {
    position: absolute;
    width: 1439px;
    height: 41px;
    top: 0;
    left: 0;
    background-color: #5f9075;
  }
  
  .qun-l-ti-khon-nhn .line-3 {
    width: 1436px;
    top: 40px;
    left: 4px;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .qun-l-ti-khon-nhn .clinic {
    position: absolute;
    width: 39px;
    height: 36px;
    top: 4px;
    left: 86px;
    object-fit: cover;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-7 {
    position: absolute;
    width: 155px;
    top: 4px;
    left: 1269px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-ti-khon-nhn .overlap-5 {
    position: absolute;
    width: 1470px;
    height: 87px;
    top: 59px;
    left: 0;
  }
  
  .qun-l-ti-khon-nhn .overlap-group-wrapper {
    position: absolute;
    width: 299px;
    height: 54px;
    top: 0;
    left: 0;
  }
  
  .qun-l-ti-khon-nhn .overlap-group-2 {
    position: relative;
    width: 295px;
    height: 54px;
    background-color: #ffffff;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-8 {
    position: absolute;
    width: 75px;
    top: 12px;
    left: 113px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .qun-l-ti-khon-nhn .p {
    position: absolute;
    width: 218px;
    top: 32px;
    left: 68px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .qun-l-ti-khon-nhn .clinic-2 {
    position: absolute;
    width: 41px;
    height: 40px;
    top: 8px;
    left: 13px;
    object-fit: cover;
  }
  
  .qun-l-ti-khon-nhn .overlap-6 {
    position: absolute;
    width: 1466px;
    height: 79px;
    top: 8px;
    left: 4px;
  }
  
  .qun-l-ti-khon-nhn .line-4 {
    width: 1436px;
    top: 63px;
    left: 0;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .qun-l-ti-khon-nhn .group-4 {
    position: absolute;
    width: 701px;
    height: 79px;
    top: 0;
    left: 765px;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-9 {
    position: absolute;
    width: 191px;
    top: 1px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .qun-l-ti-khon-nhn .overlap-7 {
    position: absolute;
    width: 491px;
    height: 79px;
    top: 0;
    left: 202px;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-10 {
    position: absolute;
    width: 227px;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-11 {
    position: absolute;
    width: 180px;
    top: 1px;
    left: 196px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .qun-l-ti-khon-nhn .text-wrapper-12 {
    position: absolute;
    width: 160px;
    top: 1px;
    left: 331px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  