.to-ti-khon {
    background-color: #869a8f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .to-ti-khon .div {
    background-color: #869a8f;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .to-ti-khon .overlap {
    position: absolute;
    width: 706px;
    height: 923px;
    top: 49px;
    left: 332px;
    background-image: url(./img/rectangle-17.png);
    background-size: 100% 100%;
  }
  
  .to-ti-khon .group {
    position: absolute;
    width: 238px;
    height: 58px;
    top: 840px;
    left: 83px;
  }
  
  .to-ti-khon .component-wrapper {
    height: 58px;
  }
  
  .to-ti-khon .component {
    position: relative;
    width: 238px;
    height: 58px;
    background-image: url(./img/rectangle-4.svg);
    background-size: 100% 100%;
  }
  
  .to-ti-khon .xc-nhn {
    position: absolute;
    width: 47px;
    height: 25px;
    top: 19px;
    left: 89px;
  }
  
  .to-ti-khon .group-2 {
    position: absolute;
    width: 571px;
    height: 101px;
    top: 190px;
    left: 73px;
  }
  
  .to-ti-khon .overlap-group {
    position: absolute;
    width: 261px;
    height: 68px;
    top: 34px;
    left: 302px;
    background-image: url(./img/rectangle-18.png);
    background-size: 100% 100%;
  }
  
  .to-ti-khon .nhp-tn {
    width: 83px;
    left: 37px;
    position: absolute;
    height: 19px;
    top: 24px;
  }
  
  .to-ti-khon .tn {
    position: absolute;
    width: 62px;
    height: 18px;
    top: 4px;
    left: 319px;
  }
  
  .to-ti-khon .nhp-h-wrapper {
    position: absolute;
    width: 260px;
    height: 68px;
    top: 34px;
    left: 0;
    background-image: url(./img/rectangle-5.png);
    background-size: 100% 100%;
  }
  
  .to-ti-khon .nhp-h {
    width: 77px;
    left: 35px;
    position: absolute;
    height: 19px;
    top: 24px;
  }
  
  .to-ti-khon .h {
    position: absolute;
    width: 53px;
    height: 19px;
    top: 4px;
    left: 22px;
  }
  
  .to-ti-khon .group-3 {
    position: absolute;
    width: 567px;
    height: 103px;
    top: 72px;
    left: 74px;
  }
  
  .to-ti-khon .nhp-tn-ng-nhp-wrapper {
    position: absolute;
    width: 564px;
    height: 68px;
    top: 36px;
    left: 0;
    background-image: url(./img/rectangle-5-2.png);
    background-size: 100% 100%;
  }
  
  .to-ti-khon .nhp-tn-ng-nhp {
    position: absolute;
    width: 189px;
    height: 20px;
    top: 27px;
    left: 47px;
  }
  
  .to-ti-khon .tn-ng-nhp {
    position: absolute;
    width: 167px;
    height: 20px;
    top: 4px;
    left: 10px;
  }
  
  .to-ti-khon .group-4 {
    position: absolute;
    width: 567px;
    height: 97px;
    top: 314px;
    left: 74px;
  }
  
  .to-ti-khon .nhp-s-in-thoi-wrapper {
    position: absolute;
    width: 564px;
    height: 68px;
    top: 30px;
    left: 0;
    background-image: url(./img/rectangle-19.png);
    background-size: 100% 100%;
  }
  
  .to-ti-khon .nhp-s-in-thoi {
    position: absolute;
    width: 175px;
    height: 21px;
    top: 26px;
    left: 53px;
  }
  
  .to-ti-khon .s-in-thoi {
    position: absolute;
    width: 122px;
    height: 20px;
    top: 2px;
    left: 12px;
  }
  
  .to-ti-khon .group-5 {
    position: absolute;
    width: 567px;
    height: 107px;
    top: 554px;
    left: 74px;
  }
  
  .to-ti-khon .overlap-2 {
    position: absolute;
    width: 564px;
    height: 68px;
    top: 40px;
    left: 0;
    background-image: url(./img/image.png);
    background-size: 100% 100%;
  }
  
  .to-ti-khon .nhp-mt-khu {
    position: absolute;
    width: 140px;
    height: 21px;
    top: 26px;
    left: 35px;
  }
  
  .to-ti-khon .hide {
    width: 34px;
    top: 10px;
    left: 504px;
    position: absolute;
    height: 35px;
    object-fit: cover;
  }
  
  .to-ti-khon .xc-nhn-mt-khu {
    position: absolute;
    width: 178px;
    height: 21px;
    top: 2px;
    left: 9px;
  }
  
  .to-ti-khon .group-6 {
    position: absolute;
    width: 566px;
    height: 101px;
    top: 434px;
    left: 74px;
  }
  
  .to-ti-khon .overlap-3 {
    position: absolute;
    width: 563px;
    height: 68px;
    top: 34px;
    left: 0;
    background-image: url(./img/rectangle-6.png);
    background-size: 100% 100%;
  }
  
  .to-ti-khon .img {
    position: absolute;
    width: 140px;
    height: 21px;
    top: 25px;
    left: 33px;
  }
  
  .to-ti-khon .hide-2 {
    width: 35px;
    top: 16px;
    left: 506px;
    position: absolute;
    height: 35px;
    object-fit: cover;
  }
  
  .to-ti-khon .mt-khu {
    position: absolute;
    width: 84px;
    height: 21px;
    top: 2px;
    left: 9px;
  }
  
  .to-ti-khon .thm-ngi-dng-mi {
    position: absolute;
    width: 319px;
    height: 32px;
    top: 15px;
    left: 189px;
  }
  
  .to-ti-khon .group-wrapper {
    position: absolute;
    width: 257px;
    height: 58px;
    top: 840px;
    left: 388px;
  }
  
  .to-ti-khon .xc-nhn-wrapper {
    position: relative;
    width: 257px;
    height: 58px;
    background-image: url(./img/rectangle-4.png);
    background-size: 100% 100%;
  }
  
  .to-ti-khon .xc-nhn-2 {
    position: absolute;
    width: 111px;
    height: 24px;
    top: 20px;
    left: 81px;
  }
  
  .to-ti-khon .group-7 {
    position: absolute;
    width: 564px;
    height: 107px;
    top: 684px;
    left: 74px;
  }
  
  .to-ti-khon .overlap-4 {
    position: absolute;
    width: 563px;
    height: 68px;
    top: 40px;
    left: 0;
    background-image: url(./img/rectangle-7.png);
    background-size: 100% 100%;
  }
  
  .to-ti-khon .overlap-group-wrapper {
    position: absolute;
    width: 158px;
    height: 53px;
    top: 8px;
    left: 13px;
  }
  
  .to-ti-khon .nha-s-wrapper {
    position: relative;
    width: 117px;
    height: 53px;
    background-color: #d9d9d9e6;
    border-radius: 20px;
  }
  
  .to-ti-khon .nha-s {
    position: absolute;
    width: 59px;
    height: 15px;
    top: 19px;
    left: 24px;
  }
  
  .to-ti-khon .polygon {
    position: absolute;
    width: 42px;
    height: 22px;
    top: 27px;
    left: 503px;
  }
  
  .to-ti-khon .phn-quyn {
    position: absolute;
    width: 108px;
    height: 21px;
    top: 2px;
    left: 11px;
  }
  
  .to-ti-khon .overlap-5 {
    position: absolute;
    width: 1440px;
    height: 43px;
    top: 0;
    left: 0;
  }
  
  .to-ti-khon .line {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 42px;
    left: 0;
    object-fit: cover;
  }
  
  .to-ti-khon .rectangle {
    position: absolute;
    width: 281px;
    height: 42px;
    top: 0;
    left: 82px;
  }
  
  .to-ti-khon .ng-k-ti-khon {
    position: absolute;
    width: 202px;
    height: 25px;
    top: 10px;
    left: 136px;
  }
  
  .to-ti-khon .clinic {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 2px;
    left: 86px;
    object-fit: cover;
  }
  
  .to-ti-khon .arrow-right {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 4px;
    left: 18px;
    object-fit: cover;
  }
  