.thm-thng-tin-nha-s {
  background-color: #edf5ee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.thm-thng-tin-nha-s .div {
  background-color: #edf5ee;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.thm-thng-tin-nha-s .overlap {
  position: absolute;
  width: 1464px;
  height: 146px;
  top: -4px;
  left: 0;
}

.thm-thng-tin-nha-s .group {
  position: absolute;
  width: 1464px;
  height: 146px;
  top: 0;
  left: 0;
}

.thm-thng-tin-nha-s .overlap-group {
  position: absolute;
  width: 1440px;
  height: 44px;
  top: 0;
  left: 0;
}

.thm-thng-tin-nha-s .line {
  width: 1439px;
  top: 40px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.thm-thng-tin-nha-s .rectangle {
  position: absolute;
  width: 1439px;
  height: 41px;
  top: 0;
  left: 0;
  background-color: #5f9075;
}

.thm-thng-tin-nha-s .img {
  width: 1436px;
  top: 40px;
  left: 4px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.thm-thng-tin-nha-s .clinic {
  position: absolute;
  width: 39px;
  height: 36px;
  top: 4px;
  left: 86px;
  object-fit: cover;
}

.thm-thng-tin-nha-s .text-wrapper {
  position: absolute;
  width: 155px;
  top: 4px;
  left: 1269px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.thm-thng-tin-nha-s .overlap-2 {
  position: absolute;
  width: 1470px;
  height: 87px;
  top: 59px;
  left: 0;
}

.thm-thng-tin-nha-s .overlap-group-wrapper {
  width: 299px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
}

.thm-thng-tin-nha-s .overlap-group-2 {
  position: relative;
  width: 295px;
  height: 54px;
  background-color: #ffffff;
}

.thm-thng-tin-nha-s .text-wrapper-2 {
  position: absolute;
  width: 75px;
  top: 12px;
  left: 113px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .p {
  position: absolute;
  width: 218px;
  top: 32px;
  left: 68px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .clinic-2 {
  position: absolute;
  width: 41px;
  height: 40px;
  top: 8px;
  left: 13px;
  object-fit: cover;
}

.thm-thng-tin-nha-s .overlap-3 {
  position: absolute;
  width: 1466px;
  height: 79px;
  top: 8px;
  left: 4px;
}

.thm-thng-tin-nha-s .line-2 {
  width: 1436px;
  top: 63px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.thm-thng-tin-nha-s .group-2 {
  width: 701px;
  height: 79px;
  left: 765px;
  position: absolute;
  top: 0;
}

.thm-thng-tin-nha-s .text-wrapper-3 {
  position: absolute;
  width: 191px;
  top: 1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .overlap-4 {
  position: absolute;
  width: 491px;
  height: 79px;
  top: 0;
  left: 202px;
}

.thm-thng-tin-nha-s .text-wrapper-4 {
  position: absolute;
  width: 227px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.thm-thng-tin-nha-s .text-wrapper-5 {
  width: 180px;
  top: 1px;
  left: 196px;
  font-size: 32px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .text-wrapper-6 {
  position: absolute;
  width: 160px;
  top: 1px;
  left: 331px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.thm-thng-tin-nha-s .overlap-5 {
  position: absolute;
  width: 258px;
  height: 78px;
  top: 906px;
  left: 469px;
}

.thm-thng-tin-nha-s .rectangle-2 {
  position: absolute;
  width: 220px;
  height: 78px;
  top: 0;
  left: 0;
  background-color: #5f9076;
  border-radius: 100px;
}

.thm-thng-tin-nha-s .text-wrapper-7 {
  position: absolute;
  width: 195px;
  top: 22px;
  left: 63px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .overlap-6 {
  position: absolute;
  width: 222px;
  height: 78px;
  top: 906px;
  left: 850px;
}

.thm-thng-tin-nha-s .overlap-wrapper {
  width: 222px;
  height: 78px;
  left: 0;
  position: absolute;
  top: 0;
}

.thm-thng-tin-nha-s .div-wrapper {
  position: relative;
  width: 220px;
  height: 78px;
  background-color: #5f9076;
  border-radius: 100px;
}

.thm-thng-tin-nha-s .text-wrapper-8 {
  position: absolute;
  width: 91px;
  top: 24px;
  left: 86px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .overlap-7 {
  position: absolute;
  width: 729px;
  height: 90px;
  top: 173px;
  left: 379px;
}

.thm-thng-tin-nha-s .text-wrapper-9 {
  position: absolute;
  width: 729px;
  top: 0;
  left: 0;
  font-family: "Lalezar", Helvetica;
  font-weight: 400;
  color: #144e24;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.thm-thng-tin-nha-s .overlap-8 {
  position: absolute;
  width: 79px;
  height: 30px;
  top: 346px;
  left: 405px;
}

.thm-thng-tin-nha-s .text-wrapper-10 {
  top: 0;
  left: 0;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .overlap-9 {
  position: absolute;
  width: 480px;
  height: 67px;
  top: 329px;
  left: 605px;
}

.thm-thng-tin-nha-s .group-3 {
  width: 480px;
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
}

.thm-thng-tin-nha-s .h-t-n-wrapper {
  position: relative;
  width: 479px;
  height: 68px;
  background-image: url(./img/rectangle-8-3.svg);
  background-size: 100% 100%;
}

.thm-thng-tin-nha-s .h-t-n {
  top: 18px;
  color: #000000;
  position: absolute;
  left: 48px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .h-t-n-2 {
  top: 18px;
  color: #00000066;
  position: absolute;
  left: 48px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .overlap-10 {
  position: absolute;
  width: 156px;
  height: 30px;
  top: 443px;
  left: 404px;
}

.thm-thng-tin-nha-s .overlap-11 {
  position: absolute;
  width: 480px;
  height: 67px;
  top: 426px;
  left: 605px;
}

.thm-thng-tin-nha-s .h-t-n-3 {
  top: 20px;
  color: #000000;
  position: absolute;
  left: 48px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .h-t-n-4 {
  top: 20px;
  color: #00000066;
  position: absolute;
  left: 48px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.thm-thng-tin-nha-s .overlap-12 {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 647px;
  left: 404px;
}

.thm-thng-tin-nha-s .overlap-13 {
  position: absolute;
  width: 480px;
  height: 67px;
  top: 630px;
  left: 604px;
}

.thm-thng-tin-nha-s .overlap-14 {
  position: absolute;
  width: 63px;
  height: 30px;
  top: 546px;
  left: 404px;
}

.thm-thng-tin-nha-s .overlap-15 {
  position: absolute;
  width: 480px;
  height: 67px;
  top: 528px;
  left: 604px;
}

.thm-thng-tin-nha-s .overlap-16 {
  position: absolute;
  width: 117px;
  height: 30px;
  top: 750px;
  left: 405px;
}

.thm-thng-tin-nha-s .overlap-17 {
  position: absolute;
  width: 480px;
  height: 67px;
  top: 732px;
  left: 605px;
}

.thm-thng-tin-nha-s .line-wrapper {
  position: absolute;
  width: 330px;
  height: 1px;
  top: 263px;
  left: 602px;
  background-image: url(./img/line-15.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.thm-thng-tin-nha-s .line-3 {
  width: 330px;
  top: 0;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}
