<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cp-nht-thng-tin-nha">
      <div class="div">
        <div class="overlap">
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-6-1.svg" />
              <div class="rectangle"></div>
              <img class="img" src="img/line-1.svg" />
              <img class="clinic" src="img/clinic-1-1.png" />
              <div class="text-wrapper">Đăng xuất</div>
            </div>
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">Nha khoa</div>
                  <p class="p">Cái răng cái tóc là gốc con người</p>
                  <img class="clinic-2" src="img/clinic-2.png" />
                </div>
              </div>
              <div class="overlap-3">
                <img class="line-2" src="img/line-5.svg" />
                <div class="group-2">
                  <div class="text-wrapper-3">Trang chủ</div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Tính năng</div>
                    <div class="text-wrapper-5">Hỗ trợ</div>
                    <div class="text-wrapper-6">Tin tức</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-6-1.svg" />
              <div class="rectangle"></div>
              <img class="img" src="img/line-1.svg" />
              <img class="clinic" src="img/clinic-1-1.png" />
              <div class="text-wrapper">Đăng xuất</div>
            </div>
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">Nha khoa</div>
                  <p class="p">Cái răng cái tóc là gốc con người</p>
                  <img class="clinic-2" src="img/clinic-2.png" />
                </div>
              </div>
              <div class="overlap-3">
                <img class="line-2" src="img/line-5.svg" />
                <div class="group-2">
                  <div class="text-wrapper-3">Trang chủ</div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Tính năng</div>
                    <div class="text-wrapper-5">Hỗ trợ</div>
                    <div class="text-wrapper-6">Tin tức</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-6-1.svg" />
              <div class="rectangle"></div>
              <img class="img" src="img/line-1.svg" />
              <img class="clinic" src="img/clinic-1-1.png" />
              <div class="text-wrapper">Đăng xuất</div>
            </div>
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">Nha khoa</div>
                  <p class="p">Cái răng cái tóc là gốc con người</p>
                  <img class="clinic-2" src="img/clinic-2.png" />
                </div>
              </div>
              <div class="overlap-3">
                <img class="line-2" src="img/line-5.svg" />
                <div class="group-2">
                  <div class="text-wrapper-3">Trang chủ</div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Tính năng</div>
                    <div class="text-wrapper-5">Hỗ trợ</div>
                    <div class="text-wrapper-6">Tin tức</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-6-1.svg" />
              <div class="rectangle"></div>
              <img class="img" src="img/line-1.svg" />
              <img class="clinic" src="img/clinic-1-1.png" />
              <div class="text-wrapper">Đăng xuất</div>
            </div>
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">Nha khoa</div>
                  <p class="p">Cái răng cái tóc là gốc con người</p>
                  <img class="clinic-2" src="img/clinic-2.png" />
                </div>
              </div>
              <div class="overlap-3">
                <img class="line-2" src="img/line-5.svg" />
                <div class="group-2">
                  <div class="text-wrapper-3">Trang chủ</div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Tính năng</div>
                    <div class="text-wrapper-5">Hỗ trợ</div>
                    <div class="text-wrapper-6">Tin tức</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-5">
          <div class="rectangle-2"></div>
          <div class="text-wrapper-7">Quay lại</div>
        </div>
        <div class="overlap-wrapper">
          <div class="div-wrapper"><div class="text-wrapper-8">Xong</div></div>
        </div>
        <p class="text-wrapper-9">Cập nhật thông tin nha sĩ</p>
        <div class="text-wrapper-10">Họ tên</div>
        <img class="group-3" src="img/group-71.png" />
        <div class="h-t-n">Số điện thoại</div>
        <img class="group-4" src="img/group-71.png" />
        <div class="h-t-n-2">Địa chỉ</div>
        <img class="group-5" src="img/group-71.png" />
        <div class="h-t-n-3">Email</div>
        <img class="group-6" src="img/group-71.png" />
        <div class="h-t-n-4">Ngày sinh</div>
        <img class="group-7" src="img/group-71.png" />
        <img class="line-3" src="img/line-14.svg" />
      </div>
    </div>
  </body>
</html>
