<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/dangnhap.css" />
  </head>
  <body>
    <div class="ng-nhp-ti-khon-nhn">
      <div class="overlap">
        <div class="overlap">
          <img class="line" src="img/line-1.svg" />
          <img class="rectangle" src="img/rectangle-1.svg" />
          <div class="text-wrapper">Đăng nhập tài khoản</div>
          <img class="clinic" src="img/clinic-1-1.png" />
        </div>
        <img class="arrow-right" src="img/arrow-right-2.png" />
      </div>
      <div class="overlap-group">
        <div class="group">
          <div class="div">
            <div class="overlap-2">
              <div class="text-wrapper-2">Nha khoa</div>
              <p class="p">Cái răng cái tóc là gốc con người</p>
            </div>
            <img class="img" src="img/clinic-2.png" />
          </div>
        </div>
        <div class="div-wrapper"><div class="text-wrapper-3">Nhập tên đăng nhập</div></div>
        <div class="text-wrapper-4">Tên đăng nhập</div>
        <div class="overlap-3">
          <div class="text-wrapper-5">Nhập mật khẩu</div>
          <img class="hide" src="img/hide-2.png" />
        </div>
        <div class="text-wrapper-6">Mật khẩu</div>
        <div class="text-wrapper-7">Quên mật khẩu</div>
        <div class="overlap-wrapper">
          <div class="overlap-4"><div class="text-wrapper-8">Đăng nhập</div></div>
        </div>
        <div class="text-wrapper-9">Đăng nhập</div>
      </div>
    </div>
  </body>
</html>
