<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="xem-danh-sch-nha-s">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="overlap-2">
              <div class="group">
                <div class="overlap-3">
                  <img class="line" src="img/line-6.svg" />
                  <div class="rectangle"></div>
                  <img class="img" src="img/line-1.svg" />
                  <img class="clinic" src="img/clinic-1-1.png" />
                  <div class="text-wrapper">Đăng xuất</div>
                </div>
                <div class="overlap-4">
                  <div class="overlap-group-wrapper">
                    <div class="overlap-group-2">
                      <div class="text-wrapper-2">Nha khoa</div>
                      <p class="p">Cái răng cái tóc là gốc con người</p>
                      <img class="clinic-2" src="img/clinic-2.png" />
                    </div>
                  </div>
                  <div class="overlap-5">
                    <img class="line-2" src="img/line-5.svg" />
                    <div class="group-2">
                      <div class="text-wrapper-3">Trang chủ</div>
                      <div class="overlap-6">
                        <div class="text-wrapper-4">Tính năng</div>
                        <div class="text-wrapper-5">Hỗ trợ</div>
                        <div class="text-wrapper-6">Tin tức</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-wrapper-7">Đội ngũ nha sĩ</div>
            </div>
            <div class="overlap-wrapper">
              <div class="div-wrapper"><div class="text-wrapper-8">Thêm nha sĩ</div></div>
            </div>
          </div>
          <img class="line-3" src="img/line-15.svg" />
        </div>
        <div class="group-3">
          <img class="arrow-right" src="img/arrow-right-2.png" />
          <div class="overlap-7">
            <img class="arrow-right-2" src="img/arrow-right-3.png" />
            <div class="text-wrapper-9">Trang sau</div>
          </div>
          <div class="text-wrapper-10">Trở về</div>
        </div>
        <div class="text-wrapper-11">ID</div>
        <div class="group-wrapper">
          <div class="rectangle-wrapper"><div class="rectangle-2"></div></div>
        </div>
        <div class="group-4">
          <div class="rectangle-wrapper"><div class="rectangle-2"></div></div>
        </div>
        <div class="group-5">
          <div class="rectangle-wrapper"><div class="rectangle-2"></div></div>
        </div>
        <div class="text-wrapper-12">Tên nha sĩ</div>
        <div class="group-6"><div class="rectangle-3"></div></div>
        <div class="group-7"><div class="rectangle-3"></div></div>
        <div class="group-8"><div class="rectangle-4"></div></div>
        <div class="text-wrapper-13">Mô tả</div>
        <div class="group-9"><div class="rectangle-5"></div></div>
        <div class="group-10"><div class="rectangle-5"></div></div>
        <div class="group-11">
          <div class="rectangle-wrapper"><div class="rectangle-2"></div></div>
        </div>
        <div class="group-12"><div class="rectangle-6"></div></div>
        <div class="group-13"><div class="rectangle-5"></div></div>
        <div class="group-14">
          <div class="rectangle-wrapper"><div class="rectangle-2"></div></div>
        </div>
        <div class="group-15"><div class="rectangle-6"></div></div>
        <div class="group-16"><div class="rectangle-5"></div></div>
        <div class="group-17"><div class="rectangle-5"></div></div>
        <div class="group-18">
          <div class="overlap-8"><div class="text-wrapper-14">Lịch trình</div></div>
        </div>
        <div class="group-19">
          <div class="overlap-group-3"><div class="text-wrapper-14">Cập nhật</div></div>
        </div>
        <div class="group-20">
          <div class="overlap-9"><div class="text-wrapper-14">Cập nhật</div></div>
          <div class="group-21">
            <div class="overlap-9"><div class="text-wrapper-14">Cập nhật</div></div>
            <div class="group-22">
              <div class="overlap-9"><div class="text-wrapper-14">Cập nhật</div></div>
              <div class="group-23">
                <div class="overlap-9"><div class="text-wrapper-14">Cập nhật</div></div>
                <div class="group-24">
                  <div class="overlap-group-3"><div class="text-wrapper-14">Cập nhật</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-25">
          <div class="overlap-8"><div class="text-wrapper-14">Lịch trình</div></div>
        </div>
        <div class="group-26">
          <div class="rectangle-wrapper"><div class="rectangle-2"></div></div>
        </div>
        <div class="group-27"><div class="rectangle-6"></div></div>
        <div class="group-28"><div class="rectangle-5"></div></div>
        <div class="group-29">
          <div class="overlap-8"><div class="text-wrapper-14">Lịch trình</div></div>
        </div>
        <div class="group-30">
          <div class="overlap-8"><div class="text-wrapper-14">Lịch trình</div></div>
        </div>
        <div class="group-31">
          <div class="overlap-8"><div class="text-wrapper-14">Lịch trình</div></div>
        </div>
        <div class="group-32">
          <div class="overlap-8"><div class="text-wrapper-14">Lịch trình</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
