<div>
    <link href="../static/homepage.css" rel="stylesheet" />
    <div class="trangch-container">
      <div class="trangch-trangch">
        <div class="trangch-group72">
          <img src="/line61055-f26e.svg" alt="Line61055" class="trangch-line6" />
          <img
            src="../static/img/Rectangle 1.png"
            alt="Rectangle201055"
            class="trangch-rectangle20"
          />
          <img src="/line11055-upuj.svg" alt="Line11055" class="trangch-line1" />
          <div class="trangch-group5">
            <span class="trangch-text"><span>Nha khoa</span></span>
            <span class="trangch-text02">
              <span>Cái răng cái tóc là gốc con người</span>
            </span>
            <img
              src="../static/img/logo.png"
              alt="clinic21056"
              class="trangch-clinic2"
            />
          </div>
          <img
            src="../static/img/clinic.png"
            alt="clinic111056"
            class="trangch-clinic11"
          />
          <img src="/line51056-209j.svg" alt="Line51056" class="trangch-line5" />
          {% if isLogOut %}
            <span class="trangch-text04"><span><a href="/login" class="text-wrapper-7"> Đăng nhập </a></span>
          {% else %}
            <span class="trangch-text05"><span><a href="/employeeIn4" class="text-wrapper-7"> Thông tin của bạn </a></span>
            <span class="trangch-text04"><span><a href="/logout" class="text-wrapper-7"> Đăng xuất</a></span>
          {% endif %}
        </div>
        <div class="trangch-group170">
          <span class="trangch-text06"><span>
            <a href="/appointment" style="text-decoration: none; color: inherit;">Cuộc hẹn</a>
          </span></span>
        </div>
        <div class="trangch-group171">
          <div class="trangch-group168">
            <!-- <button onclick="window.location.href='/patientinfo'" class="trangch-text08">
                Bệnh nhân
            </button> -->
            <a href="/patientinfo" style="text-decoration: none; color: inherit;" class="trangch-text08">Bệnh nhân</a>
          </div>
        </div>
        <div class="trangch-group172">
          <div class="trangch-group1681">
            <span class="trangch-text10"><span>
              <a href="/stafflist" style="text-decoration: none; color: inherit;">Nhân viên</a></span></span>
          </div>
        </div>
        <div class="trangch-group173">
          <div class="trangch-group1682">
            <span class="trangch-text12"><span>
              <a href="/drug" style="text-decoration: none; color: inherit;">Thuốc</a>
            </span></span>
          </div>
        </div>
        <div class="trangch-group169">
          <span class="trangch-text14"><span>
            <a href="/dentistlist" style="text-decoration: none; color: inherit;">Nha sĩ</a></span></span>
        </div>
        <div class="trangch-group175">
          <span class="trangch-text16"><span><a href="/sessionreport" style="text-decoration: none; color: inherit;">Báo cáo điều trị</a></span></span>
        </div>
        <div class="trangch-group176">
          <span class="trangch-text16"><span><a href="/appointmentreport" style="text-decoration: none; color: inherit;">Báo cáo cuộc hẹn</a></span></span>
        </div>
      </div>
    </div>
  </div>
  