<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="qun-l-ti-khon-nhn">
      <div class="div">
        <div class="group">
          <div class="overlap-group"><div class="text-wrapper">Thêm tài khoản</div></div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap"><div class="text-wrapper-2">Quay lại</div></div>
        </div>
        <div class="overlap-2">
          <div class="div-wrapper"><div class="text-wrapper-3">Quản lí tài khoản</div></div>
          <img class="line" src="img/line-17.svg" />
        </div>
        <div class="overlap-3">
          <div class="rectangle"></div>
          <div class="text-wrapper-4">Khóa</div>
          <div class="text-wrapper-5">Tên tài khoản</div>
          <div class="text-wrapper-6">Loại</div>
          <div class="group-2"></div>
          <div class="rectangle-2"></div>
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
          <img class="img" src="img/rectangle-5.svg" />
          <img class="rectangle-3" src="img/rectangle-27.svg" />
          <img class="rectangle-4" src="img/rectangle-28.svg" />
          <div class="rectangle-5"></div>
          <img class="rectangle-6" src="img/rectangle-31.svg" />
          <img class="rectangle-7" src="img/rectangle-32.svg" />
          <img class="rectangle-8" src="img/rectangle-29.svg" />
          <div class="rectangle-9"></div>
          <div class="rectangle-10"></div>
          <div class="ellipse-3"></div>
          <div class="ellipse-4"></div>
          <img class="rectangle-11" src="img/rectangle-41.svg" />
          <img class="rectangle-12" src="img/rectangle-42.svg" />
          <img class="rectangle-13" src="img/rectangle-43.svg" />
          <img class="rectangle-14" src="img/rectangle-44.svg" />
          <div class="ellipse-5"></div>
          <div class="rectangle-15"></div>
          <img class="rectangle-16" src="img/rectangle-34.svg" />
          <img class="rectangle-17" src="img/rectangle-35.svg" />
          <div class="ellipse-6"></div>
          <div class="rectangle-18"></div>
          <img class="rectangle-19" src="img/rectangle-37.svg" />
          <img class="rectangle-20" src="img/rectangle-38.svg" />
          <div class="ellipse-7"></div>
          <img class="rectangle-21" src="img/rectangle-19.svg" />
          <img class="polygon" src="img/polygon-1.svg" />
          <img class="polygon-2" src="img/polygon-2.svg" />
        </div>
        <div class="group-3">
          <div class="overlap-4">
            <img class="line-2" src="img/line-6.svg" />
            <div class="rectangle-22"></div>
            <img class="line-3" src="img/line-1.svg" />
            <img class="clinic" src="img/clinic-1-1.png" />
            <div class="text-wrapper-7">Đăng xuất</div>
          </div>
          <div class="overlap-5">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="text-wrapper-8">Nha khoa</div>
                <p class="p">Cái răng cái tóc là gốc con người</p>
                <img class="clinic-2" src="img/clinic-2.png" />
              </div>
            </div>
            <div class="overlap-6">
              <img class="line-4" src="img/line-5.svg" />
              <div class="group-4">
                <div class="text-wrapper-9">Trang chủ</div>
                <div class="overlap-7">
                  <div class="text-wrapper-10">Tính năng</div>
                  <div class="text-wrapper-11">Hỗ trợ</div>
                  <div class="text-wrapper-12">Tin tức</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
