<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="to-ti-khon">
      <div class="div">
        <div class="overlap">
          <div class="group">
            <div class="component-wrapper">
              <div class="component"><img class="xc-nhn" src="img/x-c-nh-n.svg" /></div>
            </div>
          </div>
          <div class="group-2">
            <div class="overlap-group"><img class="nhp-tn" src="img/nh-p-t-n.png" /></div>
            <img class="tn" src="img/t-n.png" />
            <div class="nhp-h-wrapper"><img class="nhp-h" src="img/nh-p-h.png" /></div>
            <img class="h" src="img/h.png" />
          </div>
          <div class="group-3">
            <div class="nhp-tn-ng-nhp-wrapper"><img class="nhp-tn-ng-nhp" src="img/nh-p-t-n-ng-nh-p.png" /></div>
            <img class="tn-ng-nhp" src="img/t-n-ng-nh-p.png" />
          </div>
          <div class="group-4">
            <div class="nhp-s-in-thoi-wrapper"><img class="nhp-s-in-thoi" src="img/nh-p-s-i-n-tho-i.png" /></div>
            <img class="s-in-thoi" src="img/s-i-n-tho-i.png" />
          </div>
          <div class="group-5">
            <div class="overlap-2">
              <img class="nhp-mt-khu" src="img/nh-p-m-t-kh-u-2.png" /> <img class="hide" src="img/hide-1.png" />
            </div>
            <img class="xc-nhn-mt-khu" src="img/x-c-nh-n-m-t-kh-u.png" />
          </div>
          <div class="group-6">
            <div class="overlap-3">
              <img class="img" src="img/nh-p-m-t-kh-u.png" /> <img class="hide-2" src="img/hide-2.png" />
            </div>
            <img class="mt-khu" src="img/m-t-kh-u.png" />
          </div>
          <img class="thm-ngi-dng-mi" src="img/th-m-ng-i-d-ng-m-i.png" />
          <div class="group-wrapper">
            <div class="component-wrapper">
              <div class="xc-nhn-wrapper"><img class="xc-nhn-2" src="img/x-c-nh-n.png" /></div>
            </div>
          </div>
          <div class="group-7">
            <div class="overlap-4">
              <div class="overlap-group-wrapper">
                <div class="nha-s-wrapper"><img class="nha-s" src="img/nha-s.png" /></div>
              </div>
              <img class="polygon" src="img/polygon-3.svg" />
            </div>
            <img class="phn-quyn" src="img/ph-n-quy-n.png" />
          </div>
        </div>
        <div class="overlap-5">
          <div class="overlap-5">
            <img class="line" src="img/line-1.png" />
            <img class="rectangle" src="img/rectangle-1.png" />
            <img class="ng-k-ti-khon" src="img/ng-k-t-i-kho-n.png" />
            <img class="clinic" src="img/clinic-1-1.png" />
          </div>
          <img class="arrow-right" src="img/arrow-right-1.png" />
        </div>
      </div>
    </div>
  </body>
</html>
