<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="thm-thng-tin-nha-s">
      <div class="div">
        <div class="overlap">
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-6-5.svg" />
              <div class="rectangle"></div>
              <img class="img" src="img/line-1-5.svg" />
              <img class="clinic" src="img/clinic-1-1-5.png" />
              <div class="text-wrapper">Đăng xuất</div>
            </div>
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">Nha khoa</div>
                  <p class="p">Cái răng cái tóc là gốc con người</p>
                  <img class="clinic-2" src="img/clinic-2-5.png" />
                </div>
              </div>
              <div class="overlap-3">
                <img class="line-2" src="img/line-5-5.svg" />
                <div class="group-2">
                  <div class="text-wrapper-3">Trang chủ</div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Tính năng</div>
                    <div class="text-wrapper-5">Hỗ trợ</div>
                    <div class="text-wrapper-6">Tin tức</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-6-5.svg" />
              <div class="rectangle"></div>
              <img class="img" src="img/line-1-5.svg" />
              <img class="clinic" src="img/clinic-1-1-5.png" />
              <div class="text-wrapper">Đăng xuất</div>
            </div>
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">Nha khoa</div>
                  <p class="p">Cái răng cái tóc là gốc con người</p>
                  <img class="clinic-2" src="img/clinic-2-5.png" />
                </div>
              </div>
              <div class="overlap-3">
                <img class="line-2" src="img/line-5-5.svg" />
                <div class="group-2">
                  <div class="text-wrapper-3">Trang chủ</div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Tính năng</div>
                    <div class="text-wrapper-5">Hỗ trợ</div>
                    <div class="text-wrapper-6">Tin tức</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-6-5.svg" />
              <div class="rectangle"></div>
              <img class="img" src="img/line-1-5.svg" />
              <img class="clinic" src="img/clinic-1-1-5.png" />
              <div class="text-wrapper">Đăng xuất</div>
            </div>
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">Nha khoa</div>
                  <p class="p">Cái răng cái tóc là gốc con người</p>
                  <img class="clinic-2" src="img/clinic-2-5.png" />
                </div>
              </div>
              <div class="overlap-3">
                <img class="line-2" src="img/line-5-5.svg" />
                <div class="group-2">
                  <div class="text-wrapper-3">Trang chủ</div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Tính năng</div>
                    <div class="text-wrapper-5">Hỗ trợ</div>
                    <div class="text-wrapper-6">Tin tức</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-6-5.svg" />
              <div class="rectangle"></div>
              <img class="img" src="img/line-1-5.svg" />
              <img class="clinic" src="img/clinic-1-1-5.png" />
              <div class="text-wrapper">Đăng xuất</div>
            </div>
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">Nha khoa</div>
                  <p class="p">Cái răng cái tóc là gốc con người</p>
                  <img class="clinic-2" src="img/clinic-2-5.png" />
                </div>
              </div>
              <div class="overlap-3">
                <img class="line-2" src="img/line-5-5.svg" />
                <div class="group-2">
                  <div class="text-wrapper-3">Trang chủ</div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Tính năng</div>
                    <div class="text-wrapper-5">Hỗ trợ</div>
                    <div class="text-wrapper-6">Tin tức</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-6-5.svg" />
              <div class="rectangle"></div>
              <img class="img" src="img/line-1-5.svg" />
              <img class="clinic" src="img/clinic-1-1-5.png" />
              <div class="text-wrapper">Đăng xuất</div>
            </div>
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">Nha khoa</div>
                  <p class="p">Cái răng cái tóc là gốc con người</p>
                  <img class="clinic-2" src="img/clinic-2-5.png" />
                </div>
              </div>
              <div class="overlap-3">
                <img class="line-2" src="img/line-5-5.svg" />
                <div class="group-2">
                  <div class="text-wrapper-3">Trang chủ</div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Tính năng</div>
                    <div class="text-wrapper-5">Hỗ trợ</div>
                    <div class="text-wrapper-6">Tin tức</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-6-5.svg" />
              <div class="rectangle"></div>
              <img class="img" src="img/line-1-5.svg" />
              <img class="clinic" src="img/clinic-1-1-5.png" />
              <div class="text-wrapper">Đăng xuất</div>
            </div>
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">Nha khoa</div>
                  <p class="p">Cái răng cái tóc là gốc con người</p>
                  <img class="clinic-2" src="img/clinic-2-5.png" />
                </div>
              </div>
              <div class="overlap-3">
                <img class="line-2" src="img/line-5-5.svg" />
                <div class="group-2">
                  <div class="text-wrapper-3">Trang chủ</div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Tính năng</div>
                    <div class="text-wrapper-5">Hỗ trợ</div>
                    <div class="text-wrapper-6">Tin tức</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-5">
          <div class="rectangle-2"></div>
          <div class="text-wrapper-7">Quay lại</div>
          <div class="rectangle-2"></div>
          <div class="text-wrapper-7">Quay lại</div>
        </div>
        <div class="overlap-6">
          <div class="overlap-wrapper">
            <div class="div-wrapper"><div class="text-wrapper-8">Xong</div></div>
          </div>
          <div class="overlap-wrapper">
            <div class="div-wrapper"><div class="text-wrapper-8">Xong</div></div>
          </div>
        </div>
        <div class="overlap-7">
          <p class="text-wrapper-9">Thêm thông tin nha sĩ</p>
          <p class="text-wrapper-9">Thêm thông tin nha sĩ</p>
        </div>
        <div class="overlap-8">
          <div class="text-wrapper-10">Họ tên</div>
          <div class="text-wrapper-10">Họ tên</div>
        </div>
        <div class="overlap-9">
          <div class="group-3">
            <div class="h-t-n-wrapper"><div class="h-t-n">Nhập họ tên</div></div>
          </div>
          <div class="group-3">
            <div class="h-t-n-wrapper"><div class="h-t-n-2">Nhập họ tên</div></div>
          </div>
        </div>
        <div class="overlap-10">
          <div class="text-wrapper-10">Số điện thoại</div>
          <div class="text-wrapper-10">Số điện thoại</div>
        </div>
        <div class="overlap-11">
          <div class="group-3">
            <div class="h-t-n-wrapper"><div class="h-t-n-3">09xxxxxxxx</div></div>
          </div>
          <div class="group-3">
            <div class="h-t-n-wrapper"><div class="h-t-n-4">Nhập số điện thoại</div></div>
          </div>
        </div>
        <div class="overlap-12">
          <div class="text-wrapper-10">Địa chỉ</div>
          <div class="text-wrapper-10">Địa chỉ</div>
        </div>
        <div class="overlap-13">
          <div class="group-3">
            <div class="h-t-n-wrapper"><div class="h-t-n">Dark Lag</div></div>
          </div>
          <div class="group-3">
            <div class="h-t-n-wrapper"><div class="h-t-n-2">Nhập địa chỉ</div></div>
          </div>
        </div>
        <div class="overlap-14">
          <div class="text-wrapper-10">Email</div>
          <div class="text-wrapper-10">Email</div>
        </div>
        <div class="overlap-15">
          <div class="group-3">
            <div class="h-t-n-wrapper"><div class="h-t-n-3">abc@gmail.com</div></div>
          </div>
          <div class="group-3">
            <div class="h-t-n-wrapper"><div class="h-t-n-4">Nhập email</div></div>
          </div>
        </div>
        <div class="overlap-16">
          <div class="text-wrapper-10">Ngày sinh</div>
          <div class="text-wrapper-10">Ngày sinh</div>
        </div>
        <div class="overlap-17">
          <div class="group-3">
            <div class="h-t-n-wrapper"><p class="h-t-n-3">_ _/_ _/_ _ _ _</p></div>
          </div>
          <div class="group-3">
            <div class="h-t-n-wrapper"><p class="h-t-n-4">_ _/_ _/_ _ _ _</p></div>
          </div>
        </div>
        <div class="line-wrapper"><img class="line-3" src="img/line-15.svg" /></div>
      </div>
    </div>
  </body>
</html>
